<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.easymarket">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdapterComment"></activity>
        <activity android:name=".HistoryActivity" />
        <activity android:name=".MasterToko" />
        <activity android:name=".InfoBarangLelang" />
        <activity android:name=".LelangActivity" />
        <activity android:name=".InfoPengirimanActivity" />
        <activity android:name=".NotaActivity" />
        <activity android:name=".Home" />
        <activity android:name=".ProfileUtamaActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".MasterKas" />
        <activity android:name=".MasterChangelog" />
        <activity android:name=".MasterLelang" />
        <activity android:name=".MasterTrans" />
        <activity android:name=".HomeAdmin" />
        <activity android:name=".ManageTickets" />
        <activity android:name=".InputEvent" />
        <activity android:name=".CekPerjalananActivity" />
        <activity android:name=".ChatRoom" />
        <activity android:name=".DetailAlamat" />
        <activity android:name=".EventPage" />
        <activity android:name=".HalamanCover">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeToko" />
        <activity android:name=".InfoBarang" />
        <activity android:name=".InfoComment" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ManageUsers" />
        <activity android:name=".PreviewActivity" />
        <activity android:name=".PopupEvent" />
        <activity android:name=".RefundActivity" />
        <activity android:name=".Register" />
        <activity android:name=".TransactionActivity" />
        <activity android:name=".WishList" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>